/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
  margin:0;
	padding:0;
  
}

body {
  margin:0;
  background-color: rgb(99, 97, 97);
  text-align: center; 
  place-content: center;
}

button:not([disabled]) {
  cursor:pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
}


/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:yellow;
  display:grid;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
}

p{
  color: yellow;
  font-family: "Source Sans Pro", sans-serif;
}

ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2em;
  gap: 3em;
  
}

ol > li {
  border: 3px solid black;
  padding: 10px;
  min-height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}

li {
  list-style: none;
}

ul {
  display:  flex;
  margin-left: 3em;
  align-items: center;
  position: relative;
  justify-content: center;
}

/* EERSTE LIGHTSABER CODE */

ol li:first-of-type ul li:first-of-type ul {
  display: flex;
  flex-direction: column;
  margin: 0em;
  left: 1.5em;
}

ol li:first-of-type ul li:first-of-type {
  background-color: rgb(129, 122, 122);
  width: 15em;
  height: 4em;
  border-radius: .25em .5em .5em .25em;
}


ol li:first-of-type ul li:nth-of-type(2) {
  background-color: rgb(165, 165, 165);
  width: 10em;
  height: 3em;
  border-radius: 0% 0% 50% 0% / 0% 0% 100% 0%; 
}

ol li:first-of-type ul li:first-of-type ul li {
  background-color: black;
  width: 7em;
  height: 0.4em;
  right: 5.5em;
  bottom: -2em;
  border-radius: 0em;
  margin: -0.9em;
}





ul li {
    position: relative;
}


/* Lightsaber 2 */

ol li:nth-of-type(2) ul {
  background-color: red;
  background-image: linear-gradient(
    to left,
    silver 0 10px,
    hsl(39 75% 50%) 0 14px,
    silver 0 15px,
    black 0 20px,
    silver 0 22px,
    black 0 25px,
    silver 0 27px,
    black 0 30px,
    silver 0 32px,
    black 0 35px,
    silver 0 37px,
    black 0 40px,
    silver 0 42px,
    black 0 45px,
    silver 0 47px,
    black 0 50px,
    silver 0 60px,
    hsl(39 75% 50%) 60px 80px,
    silver 0 100%
  );

  width: 20em;
  height: 2em;
  margin: auto;
}

/* .container {
  display: flex;
  justify-content: center;
}
*/

/* .flexbox-item {
  flex-direction: row; 
}  */

.saberhilt {
  position: relative;
  background-color: rgb(140, 140, 141);
  width: 25em;
  height: 4em;
  clip-path: polygon(43% 0, 100% 0, 100% 30%, 81% 46%, 77% 76%, 75% 100%, 0 100%, 0 0);
  left: 4em; 
  box-shadow: inset 0 0 10px white;
}

.stripe1 {
  position: relative;
  background-color: rgb(19, 18, 18);
  height: 0.75em;
  width: 10em;
  bottom: 4.3em;
  left: 4.5em;
}

.stripe2 {
  position: relative;
  background-color: rgb(19, 18, 18);
  height: 0.75em;
  width: 10em;
  bottom: 3.75em;
  left: 4.5em;
}

.stripe3 {
  position: relative;
  background-color: rgb(19, 18, 18);
  height: 0.75em;
  width: 10em;
  bottom: 3.1em;
  left: 4.5em;
}

.stripe4 {
  position: relative;
  background-color: rgb(19, 18, 18);
  height: 0.75em;
  width: 10em;
  bottom: 2.55em;
  left: 4.5em;
}

.connect {
  position: relative;
  background-color: rgb(19, 18, 18);
  height: 4em;
  width: 2em;
  bottom: 3.7em;
  left: 16em;
  clip-path: polygon(0 0, 100% 0, 100% 49%, 66% 49%, 66% 100%, 0 100%, 0% 30%);
  margin: 0em;
}

.button {
  position: relative;
  margin: 0em;
  height: 1em;
  width: 2em;
  bottom: 8.7em;
  right: -13em;
  background-color: rgb(19, 18, 18);
  clip-path: polygon(0 31%, 100% 31%, 100% 68%, 70% 68%, 70% 100%, 29% 100%, 29% 67%, 0 67%);
}

.blade {
  position: relative;
  margin: 0em;
  height: 3em;
  width: 11em;
  bottom: 8em;
  left: 17em;
  background: linear-gradient(1turn, #0413df, #0413df, #ebf8e1, #0413df, #0413df);
  z-index: -1;
  box-shadow: 10px 0px 1em 5px rgb(2, 2, 204);
  
}

@keyframes BlueOn {

  0%  {background-color: none;}

  100%  {background-color: Blue; }
}