@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "starwars";
  src: url("../Fonts/starjedi-webfont.woff2") format("woff2"),
    url("../Fonts/starjedi-webfont.woff2") format("woff");
}

@font-face {
  font-family: aurebesh;
  font-weight: normal;
  font-style: normal;
  src: url("../Fonts/Aurebesh\ Bold.woff2") format("woff2");
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings: rgb(216, 216, 2);
  --bluesaberblade: linear-gradient(
    to bottom,
    #2989d8 15%,
    #ffffff 52%,
    #2989d8 89%);
    
  --redsaberblade: linear-gradient(
    to bottom,
    #c70505 15%,
    #ffffff 52%,
    #c70505 89%);
  --Kleur-headings-2: White;
  --Kleur-basis-tekst: white;
  --starwars-font: "starwars";
  --darthmaulkleur: #98948b;
  --dookukleur: #828582;
  --buttonkleur: rgb(177, 5, 5);
  --puurzwart: black;
  --verminderdezwart: rgb(24, 23, 23);
  --puurwit: white;
  --emitterkleurgrijs: rgb(136, 134, 134);
  --handvattendooku: #191818;
  --dookugrijs: rgb(42, 41, 41);
  --anakingold: rgb(153, 153, 0);
  --gradientdarthmaul: linear-gradient(
    to left,
    #98948b 7%,    #000000 13%,
    #98948b 19%,    #98948b 27%,
    #000000 31%,    #98948b 35%,
    #98948b 35%,    #98948b 43%,
    #000000 49%,    #000000 49%,
    #98948b 55%,    #98948b 63%,
    #000000 67%,    #98948b 71%,
    #98948b 79%,    #000000 85%,
    #000000 85%,    #98948b 91%
    );
}

/*************/
/* CSS RESET */
/*************/


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  place-content: center;
  background: rgb(0, 0, 0);
  background-image: url("../images/stardust.png");
  animation: stars 30s linear infinite;
  cursor: url("../Cursors/icons8-star-wars-naboo-ship-48.png") 25 15, auto;
}

@keyframes stars {
  0% {background-position: 0 0;}

  100% {
    background-position: 50em 50em;
  }
}

section:first-of-type > img:first-of-type {
  filter: brightness(0.8);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 30em;
  width: 100%;
  z-index: -1;

  object-fit: cover;
  object-position: top;
}

section:first-of-type img.verandernaboo {
  object-position: center;
}

body.Endor {
  animation: none;
  background-size: 100vw 50vh;
  background-repeat: no-repeat;
  background-image: url("../images/Bosachtergrond.jpg");
}

body.Tatooine {
  animation: none;
  background-size: 100vw 50vh;
  background-repeat: no-repeat;
}

body.Felucia {
  animation: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/BattleOfFelucia-Night.jpg");
}

section article ul button {
  cursor: url("../Cursors/icons8-star-wars-naboo-ship-48.png"), auto;
}

/*************************************************/
/* KEYFRAMES EN ANIMATIES VOOR OPSTARTEN WEBSITE */
/*************************************************/

/* Deze animaties zijn tot nu toe niet gebruikt */

@keyframes letterscroll {
  0% {transform: scale(10);}
  100% {transform: scale(1);}
}

/* animation: 4s ease-in 1s 1 normal forwards whoom; */
@keyframes whoom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* animation: 8s ease-out 0s 1 whoom; toevoegen bij juiste element */

/******************/
/* HAMBURGER MENU */
/******************/

@keyframes hamburger {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}

header button:first-of-type {
  border: none;
  border: none;
  display: flex;
  position: fixed;
  background: none;
  align-self: flex-start;
  flex-direction: column;
}

header button:first-of-type img {
  margin-left: 1em;
  margin-bottom: -2.5em;
  transform: rotate(45deg);
}

nav ul {
  position: fixed;
  margin: 0;
  padding: 2em 4em 10em 10em;
  display: flex;
  flex-direction: column;
  transform-origin: top left;
  z-index: 2;

  background-color: var(--dookukleur);
  border: none;

  visibility: hidden;
}

nav ul.burger {
  visibility: visible;
  animation: hamburger 0.1s linear;
}

nav ul.burger li img {
  display: flex;
  left: -9em;
  bottom: 1.5em;
  position: relative;
  transform: scale(0.7);
}

header ul li:nth-of-type(2) button {
  background: var(--puurwit);

  font-family: aurebesh;

  left: 2em;
  padding: 1em;
  margin-top: 5em;
  border: 3px solid var(--buttonkleur);
}

/********************/
/* ALGEMENE STYLING */
/********************/

section {
  display: flex;
  justify-content: center;
}

section:first-of-type {
  display: grid;
}

main > section:nth-of-type(1) img[src=""] {
  display: none;
}

/*************/
/*  BUTTONS  */
/*************/

@keyframes draaiend {
  0%    {transform: rotate(0deg);}
  100%  {transform: rotate(360deg);}
}

section article ul {
  display: flex;
  flex-flow: row wrap;
}

section article ul button {
  border: none;
  width: 150px;
  height: 150px;
  margin: 3em;
  background-size: cover;
}

section article ul button img:hover {
  background: none;
  border-radius: 60em;
  box-shadow: inset 0 0 2em 2em var(--puurwit) , 0 0 2em 2em var(--puurwit);
}

/******************/
/* BUTTON 1 Endor */
/******************/

section article ul li:first-of-type button:first-of-type img {
  border: none;
  background-size: cover;
  width: 150px;
  height: 150px;
  transition: 0.5s;
}
section article ul li:first-of-type button:first-of-type img:hover {
  transform: scale(1.2);
}

section article ul li:first-of-type button:first-of-type {
  background: none;
  transition:30s;
}

section article ul li:first-of-type button:first-of-type:hover {
  transform:rotate(360deg);
  transition:30s;
}

/*********************/
/* BUTTON 2 Tatooine */
/*********************/
section article ul li:nth-of-type(2) button img {
  border: none;
  background-size: cover;
  width: 150px;
  height: 150px;
  transition: 0.5s;
}

section article ul li:nth-of-type(2) button img:hover {
  transform: scale(1.2);
}

section article ul li:nth-of-type(2) button {
  background: none;
  transition:30s;
}

section article ul li:nth-of-type(2) button:hover {
  transform:rotate(360deg);
  transition:30s;
}

/********************/
/* BUTTON 3 Felucia */
/********************/
section article ul li:nth-of-type(3) button img {
  border: none;
  background-size: cover;
  width: 150px;
  height: 150px;
  transition: 0.5s;
}

section article ul li:nth-of-type(3) button img:hover {
  transform: scale(1.2);
}

section article ul li:nth-of-type(3) button {
  background: none;
  transition:30s;
}

section article ul li:nth-of-type(3) button:hover {
  transform:rotate(360deg);
  transition:30s;
}

/******************/
/* BUTTON 4 Naboo */
/******************/
section article ul li:nth-of-type(4) button img {
  border: none;
  background-size: cover;
  width: 150px;
  height: 150px;
  transition: 0.5s;
}

section article ul li:nth-of-type(4) button img:hover {
  transform: scale(1.2);
}

section article ul li:nth-of-type(4) button {
  background: none;
  transition:30s;
}

section article ul li:nth-of-type(4) button:hover {
  transform:rotate(360deg);
  transition:30s;
}
/**********************************************************/
/* Algemene instelling teksten, sections en lists */
/**********************************************************/

h1 {
  color: var(--color-headings);
  text-shadow: 0.1em 0.1em var(--puurzwart);

  top: 1em;
  display: grid;
  text-align: center;
  justify-content: center;

  font-family: "starwars", sans-serif;
  letter-spacing: 0.1em;
}

h2 {
  color: var(--color-headings);
  text-shadow: 0.1em 0.1em var(--puurzwart);

  display: grid;
  padding-top: 2em;
  justify-content: center;

  letter-spacing: 0.1em;
  font-family: "starwars", sans-serif;
}

h3 {
  color: var(--color-headings);
  text-shadow: 0.1em 0.1em var(--puurzwart);

  display: grid;
  padding-top: 2em;
  justify-content: center;

  font-family: "starwars", sans-serif;
  letter-spacing: 0.1em;
}

ol li:first-of-type h2 {
  color: var(--color-headings);

  display: grid;
  justify-content: center;

  font-family: "starwars", sans-serif;
  letter-spacing: 0.1em;
}

p {
  color: var(--Kleur-basis-tekst);

  letter-spacing: 0.1em;
  font-family: "starwars", sans-serif;
  max-width: 50em;
}

section article ul:nth-of-type(2) p {
  padding-right: 5em;
  padding-left: 4em;
}

header p {
  display: contents;
  max-width: 50em;
}

ol {
  list-style: none;

  gap: 3em;
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

ol > li {
  /* border: 0.5em solid black;    Bepaal of er een border om de lists komt */
  padding: 10px;
  min-height: 15em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style: none;
}

ul {
  display: flex;
  align-items: center;
  position: relative;
}

section article ul:nth-of-type(2) {
  align-items: center;
  justify-content: center;
}

/*****************************/
/* EERSTE LIGHTSABER: ANAKIN */
/*****************************/

ol li:first-of-type p {
  position: relative;
  bottom: -6em;
  color: var(--puurwit);
  visibility: hidden;
}

ol li:first-of-type p.open {
  visibility: visible;
}

ol li:first-of-type p.open:hover {
  transition: 2s;
  transform: scale(1.2);
  background-color: var(--puurzwart);
  z-index: 1;
}


ol li:first-of-type article {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  align-items: center;
}

/* Main frame van de lightsaber*/
ol li:first-of-type article header {
  position: relative;
  border: 1px solid var(--puurzwart);
  border-right: 0;
  background-color: var(--darthmaulkleur);
  width: 19em;
  height: 3em;
  left: 16em;
}

/* Plek met buttons */
ol li:first-of-type article strong {
  position: relative;
  width: 3em;
  height: 3.3em;
  right: -9em;
  top: 0em;
  z-index: 1;

  background-color: rgb(53, 53, 53);

  border: 3px solid var(--puurzwart);
  border-radius: 0.25em;
}

/* Handvat grip strepen, nummer 1 */
ol li:first-of-type article div:first-of-type {
  position: relative;
  background-color: var(--verminderdezwart);
  height: 0.75em;
  width: 7em;
  bottom: 1.5em;
  left: -5.5em;
}

/* Handvat grip strepen, nummer 2 */
ol li:first-of-type article div:nth-of-type(2) {
  position: relative;
  background-color: var(--verminderdezwart);
  height: 0.75em;
  width: 7em;
  bottom: 0.5em;
  left: -12.5em;
}

/* Handvat grip strepen, nummer 3 */
ol li:first-of-type article div:nth-of-type(3) {
  position: relative;
  background-color: var(--verminderdezwart);
  height: 0.75em;
  width: 7em;
  bottom: -0.5em;
  left: -19.5em;
}

/* Handvat grip strepen, nummer 4 */
ol li:first-of-type article div:nth-of-type(4) {
  position: relative;
  background-color: var(--verminderdezwart);
  height: 0.75em;
  width: 7em;
  bottom: -1.5em;
  left: -26.5em;
}

/* Gebogen voorkant */
.emitter {
  position: relative;
  border: 1px solid var(--puurzwart);
  border-left: 0;
  background-color: var(--darthmaulkleur);
  height: 3em;
  width: 3em;
  right: 15em;
  clip-path: polygon(
    50% 0%,    100% 0,
    97% 20%,    88% 33%,
    71% 44%,    52% 57%,
    38% 74%,    33% 100%,
    0 100%,    0 0
  );
}

ol li:first-of-type article button {
  position: relative;
  background-color: rgb(153, 153, 0); /*wordt een enkele keer gebruikt */
  height: 0.75em;
  width: 2em;
  border: 1px solid black;
  right: 33.6em;
  bottom: 2.2em;
}

/* Onderdeel aan de voorkant van de lightsaber */
.bladespuit {
  position: relative;
  background-color: rgb(54, 54, 54); /*wordt een enkele keer gebruikt */
  height: 2em;
  width: 1em;
  bottom: 0em;
  left: -17em;
  z-index: -1;
}

/* Onderdeel aan de voorkant van de lightsaber */
.bladespuit1 {
  position: relative;
  border: 1px solid var(--puurzwart);
  background-color: var(--emitterkleurgrijs);
  height: 2em;
  width: 0.25em;
  bottom: -0.5em;
  right: 17em;
  z-index: -1;
}

/* Onderdeel aan de voorkant van de lightsaber */
.bladespuit2 {
  position: relative;
  border: 1px solid var(--puurzwart);
  background-color: var(--emitterkleurgrijs);
  height: 2.4em;
  width: 0.25em;
  bottom: -0.3em;
  right: 16em;
}

/* Onderdeel aan de voorkant van de lightsaber */
.bladespuit3 {
  position: relative;
  border: 1px solid var(--puurzwart);
  background-color: rgb(88, 88, 88); /*wordt een enkele keer gebruikt */
  height: 1.6em;
  width: 1.1em;
  bottom: -0.3em;
  right: 17.3em;
  z-index: -1;
}

/* Ronde clip bovenop de lightsaber aan de emitter kant */
.clip {
  position: relative;
  border: 1px solid var(--puurzwart);
  background-color: var(--darthmaulkleur);
  height: 2em;
  width: 1em;
  border-radius: 1em 1em 0 0;
  left: -21em;
  bottom: 2.4em;
  z-index: -1;
}

/* Blade van de lightsaber */
.blade {
  position: relative;
  border-radius: 0em 1em 1em 0em;
  background: var(--bluesaberblade);
  height: 1.5em;
  width: 40em;
  left: 29.3em;
  bottom: -5.2em;
  display: none;
  z-index: -1;
  transform-origin: left center;
}

.blade.open {
  display: block;
  animation: bladeslightside 0.05s infinite, growblades 0.2s;
}

@keyframes bladeslightside {
  0% {box-shadow: none;}
  50% {box-shadow: 12px 0px 10px 20px #2989d8;}
  100% {box-shadow: none;}
}

@keyframes growblades {
  0% {transform: scalex(0) scaleY(0);}
  100% {transform: scalex(1) scaleY(1);}
}

/*********************************/
/* TWEEDE LIGHTSABER: DARTH MAUL */
/*********************************/

ol li:nth-of-type(2) p {
  position: relative;
  bottom: -7em;
  color: var(--puurwit);
  visibility: hidden;
}

ol li:nth-of-type(2) p.emittingdarthL {
  visibility: visible;
}

ol li:nth-of-type(2) p.emittingdarthL:hover {
  transition: 2s;
  transform: scale(1.2);
  background-color: var(--puurzwart);
  z-index: 1;
}

ol li:nth-of-type(2) article {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
}

/* Main frame van Darth Maul's lightsaber */
ol li:nth-of-type(2) article header {
  position: relative;
  background-color: var(--darthmaulkleur);
  height: 3em;
  width: 35em;
  left: 34%;
}

/* Rechter gradient kant */
ol li:nth-of-type(2) article strong:nth-of-type(1) {
  position: relative;
  background: var(--gradientdarthmaul);

  height: 3.1em;
  width: 4em;
  right: -27em;
  z-index: 1;
}

/* Linker gradient kant */
ol li:nth-of-type(2) article strong:nth-of-type(2) {
  position: relative;
  background: var(--gradientdarthmaul);

  height: 3.1em;
  width: 4em;
  right: -4em;
  z-index: 1;
}

/* Middenstreep op lightsaber frame */
ol li:nth-of-type(2) article div:nth-of-type(1) {
  position: relative;
  background: var(--puurzwart);
  height: 3em;
  width: 0.25em;
  left: 11em;
  z-index: 2;
}

/* Linker emitter blok */
ol li:nth-of-type(2) article div:nth-of-type(2) {
  position: relative;
  background: var(--darthmaulkleur);
  height: 4em;
  width: 0.25em;
  left: -10em;
}

/* Rechter emitter blok */
ol li:nth-of-type(2) article div:nth-of-type(3) {
  position: relative;
  background: var(--darthmaulkleur);
  height: 4em;
  width: 0.25em;
  left: 29.7em;
}

/* Linker emitter verdikkingsblok */
ol li:nth-of-type(2) article div:nth-of-type(4) {
  position: relative;
  background: var(--darthmaulkleur);
  height: 3em;
  width: 0.8em;
  left: -11.3em;
}

/* Rechter emitter verdikkingsblok */
ol li:nth-of-type(2) article div:nth-of-type(5) {
  position: relative;
  background: var(--darthmaulkleur);
  height: 3em;
  width: 0.8em;
  left: 28.9em;
}

/* Shading streep op Darth Maul's lighstsaber */
ol li:nth-of-type(2) article div:nth-of-type(6) {
  position: relative;
  background: rgb(179, 175, 175); /*wordt een enkele keer gebruikt */
  height: 0.25em;
  width: 34.9em;
  left: -9.3em;
  bottom: 1em;
  z-index: 0;
}

/* Linker gebogen vorm, boven */
ol li:nth-of-type(2) article div:nth-of-type(7) {
  position: relative;
  background: var(--darthmaulkleur);
  height: 2em;
  width: 3em;
  left: -47em;
  bottom: 2.5em;
  z-index: 0;
  clip-path: polygon(
    52% 87%,    66% 83%,
    80% 76%,    91% 78%,
    99% 86%,    100% 100%,
    0 100%,    4% 93%,
    14% 88%,    32% 86%);
}

/* Linker gebogen vorm, onder */
ol li:nth-of-type(2) article div:nth-of-type(8) {
  position: relative;
  background: var(--darthmaulkleur);
  height: 1em;
  width: 3em;
  left: -49.9em;
  bottom: -2.5em;
  z-index: 0;
  clip-path: polygon(
    52% 87%,    66% 83%,
    80% 76%,    91% 78%,
    99% 86%,    100% 100%,
    0 100%,    4% 93%,
    14% 88%,    32% 86%);

  transform: scale(1, -2);
}

/* Linker streep bij emitter, 2e van boven */
ol li:nth-of-type(2) article div:nth-of-type(9) {
  position: relative;
  background: var(--darthmaulkleur);
  height: 0.25em;
  width: 3em;
  left: -53em;
  bottom: 0.6em;
}

/* Linker streep bij emitter, 3e van boven */
ol li:nth-of-type(2) article div:nth-of-type(10) {
  position: relative;
  background: var(--darthmaulkleur);
  height: 0.25em;
  width: 3em;
  left: -56em;
  bottom: -0.7em;
}

/* Rechter gebogen vorm, onder */
ol li:nth-of-type(2) article div:nth-of-type(11) {
  position: relative;
  background: var(--darthmaulkleur);
  height: 2em;
  width: 3em;
  left: -21.8em;
  bottom: -2.5em;
  z-index: 0;
  transform: rotate(180deg);
  clip-path: polygon(
    52% 87%,    66% 83%,
    80% 76%,    91% 78%,
    99% 86%,    100% 100%,
    0 100%,    4% 93%,
    14% 88%,    32% 86%);
}

/* Rechter gebogen vorm, boven */
ol li:nth-of-type(2) article div:nth-of-type(12) {
  position: relative;
  background: var(--darthmaulkleur);
  height: 2em;
  width: 3em;
  left: -24.8em;
  bottom: 2.5em;
  z-index: 0;
  clip-path: polygon(
    52% 87%,    66% 83%,
    80% 76%,    91% 78%,
    99% 86%,    100% 100%,
    0 100%,    4% 93%,
    14% 88%,    32% 86%);

  transform: scale(-1, 1);
}

/* Rechter streep 2e van boven */
ol li:nth-of-type(2) article div:nth-of-type(13) {
  position: relative;
  background: var(--darthmaulkleur);
  height: 0.25em;
  width: 3em;
  left: -28em;
  bottom: 0.6em;
}

/* Rechter streep 3e van boven */
ol li:nth-of-type(2) article div:nth-of-type(14) {
  position: relative;
  background: var(--darthmaulkleur);
  height: 0.25em;
  width: 3em;
  left: -31em;
  bottom: -0.7em;
}

/* Button links van het midden */
ol li:nth-of-type(2) article button:first-of-type {
  position: relative;
  background: var(--buttonkleur);
  height: 1em;
  width: 1em;
  z-index: 1;
  left: -58.5em;
  border: 1px solid var(--puurzwart);
  border-radius: 1em;
}

/* Button rechts van het midden */
ol li:nth-of-type(2) article button:nth-of-type(2) {
  position: relative;
  background: var(--buttonkleur);
  height: 1em;
  width: 1em;
  z-index: 1;
  left: -64em;
  border: 1px solid var(--puurzwart);
  border-radius: 1em;
}

ol li:nth-of-type(2) article:nth-of-type(2) {
  display: flex;
  align-items: center;
}

/* Rechter saber blade van darth maul */
ol li:nth-of-type(2) article:nth-of-type(2) div:nth-of-type(1) {
  position: relative;
  background: var(--redsaberblade);
  height: 1.5em;
  width: 35em;
  border-color: var(--puurwit);
  left: 51em;
  z-index: -1;
  border-radius: 1em;
  visibility: hidden;
  transform-origin: center left;
}

/* Linker saber blade van darth maul */
ol li:nth-of-type(2) article:nth-of-type(2) div:nth-of-type(2) {
  position: relative;
  background: var(--redsaberblade);
  height: 1.5em;
  width: 35em;
  border-color: var(--puurwit);
  left: -51em;
  z-index: -1;
  border-radius: 1em;
  visibility: hidden;
  transform-origin: center right;
}

/* Verschijnen van de linker kant van de lightsaber van Darth Maul */
ol li:nth-of-type(2) article:nth-of-type(2) div:nth-of-type(1).emittingdarthL {
  visibility: visible;
  animation: bladesdarkside 0.05s infinite, growblades 0.2s;
}

/* Verschijnen van de rechter kant van de lightsaber van Darth Maul */
ol li:nth-of-type(2) article:nth-of-type(2) div:nth-of-type(2).emittingdarthR {
  visibility: visible;
  animation: bladesdarkside 0.05s infinite, growblades 0.2s;
}

/************************/
/* Lightsaber van Dooku */
/************************/

ol li:nth-of-type(3) p {
  position: relative;
  bottom: 0m;
  color: var(--puurwit);
  visibility: hidden;
}

ol li:nth-of-type(3) p.aan {
  visibility: visible;
}

ol li:nth-of-type(3) p.aan:hover {
  transition: 2s;
  transform: scale(1.2);
  background-color: var(--puurzwart);
  z-index: 1;
}

ol li:nth-of-type(3) article {
  display: flex;
  position: relative;
  /* transform: scale(1.5); */ /*Hiermee de gehele lightsaber groter maken */
  align-items: center;
  left: 12em;
}

/* Main frame voor Dooku's lightsaber */
ol li:nth-of-type(3) article header {
  background: var(--dookukleur);
  height: 3em;
  width: 10em;
}

/* Schuine kant van de lightsaber rechts */
ol li:nth-of-type(3) article strong:first-of-type {
  background: var(--dookukleur);
  height: 3.87em;
  width: 2.5em;
  clip-path: polygon(
    0% 0%,    11% 0%,
    24% 1%,    37% 3%,
    48% 6%,    61% 10%,
    77% 16%,    88% 22%,
    100% 28%,    74% 60%,
    69% 56%,    64% 54%,
    55% 49%,    45% 45%,
    35% 42%,    25% 40%,
    14% 39%,    0 39%);
  
  transform: scale(2, 2);
  bottom: -2.35em;
  left: 1.2em;
  position: relative;
}

/* Schuine kant van de lightsaber links */
ol li:nth-of-type(3) article strong:nth-of-type(2) {
  position: relative;
  background: var(--dookukleur);
  height: 9.4em;
  width: 8em;
  bottom: -3.2em;
  left: -20.4em;
  clip-path: polygon(
    100% 0%,    57% 0,
    49% 1%,    43% 4%,
    36% 8%,    31% 13%,
    19% 25%,    49% 44%,
    56% 37%,    62% 33%,
    68% 32%,    78% 32%,
    88% 32%,    100% 32%);
}

/* Klein zwart stukje aan de linkerkant */
ol li:nth-of-type(3) article div:first-of-type {
  position: relative;
  background-color: #2a2a2a;  /* wordt een enkele keer gebruikt */
  height: 3em;
  width: 3.1em;
  left: -27.4em;
  bottom: -2em;
  transform: rotate(41deg);
}

/* Bovenste handvat gedeelte */
ol li:nth-of-type(3) article div:nth-of-type(2) {
  position: relative;
  background-color: var(--handvattendooku); 
  height: 3em;
  width: 3em;
  left: -16em;
  bottom: -1.5em;
  clip-path: polygon(
    1% 30%,    3% 31%,
    12% 33%,    20% 35%,
    28% 37%,    32% 38%,
    39% 40%,    44% 42%,
    48% 40%,    49% 38%,
    49% 36%,    49% 34%,
    49% 32%,    48% 30%,
    29% 30%,    10% 30%);

  transform: scale(6, 5);
}

/* onderste handvat gedeelte */
ol li:nth-of-type(3) article div:nth-of-type(3) {
  position: relative;
  background-color: var(--handvattendooku);
  height: 3em;
  width: 3em;
  left: -30em;
  bottom: 1.5em;
  clip-path: polygon(
    1% 30%,    3% 31%,
    12% 33%,    20% 35%,
    28% 37%,    32% 38%,
    39% 40%,    44% 42%,
    48% 40%,    49% 38%,
    49% 36%,    49% 34%,
    49% 32%,    48% 30%,
    29% 30%,    10% 30%);

  transform: scale(-6, -5);
}

/* Elips links */
ol li:nth-of-type(3) article div:nth-of-type(4) {
  position: relative;
  background: var(--dookugrijs);
  border-radius: 1em;
  height: 3.5em;
  width: 0.25em;
  left: -20em;
  bottom: 0em;
}

/* Elips rechts */
ol li:nth-of-type(3) article div:nth-of-type(5) {
  position: relative;
  background: var(--dookugrijs);
  border-radius: 1em;
  height: 3.5em;
  width: 0.25em;
  left: -32.5em;
  bottom: 0em;
}

/* schuine lijn bij handvatten */
ol li:nth-of-type(3) article div:nth-of-type(6) {
  position: relative;
  background: var(--dookugrijs);
  border-radius: 1em;
  height: 12.5em;
  width: 0.15em;
  left: -26.5em;
  bottom: 0em;
  transform: rotate(-76.5deg);
}

/* Gedeelte waar de blade uitkomt */
ol li:nth-of-type(3) article div:nth-of-type(7) {
  position: relative;
  background: var(--dookugrijs);
  border-radius: 1em;
  height: 4em;
  width: 0.5em;
  left: -16em;
  bottom: -2em;
  transform: rotate(29deg);
  z-index: 1;
}

/* Knop op de lightsaber */
ol li:nth-of-type(3) article button {
  background-color: var(--buttonkleur);

  position: relative;
  height: 0.5em;
  width: 1.5em;
  bottom: 2em;
  left: -30em;

  border-radius: 0.25em 0.25em 0em 0em;
  border: none;
  z-index: 0;
}

/* Saber van Dooku */
ol li:nth-of-type(3) article output {
  background: var(--redsaberblade);
  position: absolute;
  height: 1.5em;
  width: 31em;
  left: 12em;
  bottom: -5.3em;
  transform: rotate(34deg);
  z-index: 0;
  border-radius: 0em 1em 1em 0em;
  visibility: hidden;
}

/* Saber van Dooku wordt eruit geanimeerd */
ol li:nth-of-type(3) article output.aan {
  visibility: visible;
  animation: bladesdarkside 0.05s infinite, growblades 0.2s;
}

/**********************************************/
/* LIGHTSABER CODE: Inquisitor, 4e lightsaber */
/**********************************************/

ol li:nth-of-type(4) p {
  position: relative;
  bottom: 5em;
  color: var(--puurwit);
  visibility: hidden;
}

ol li:nth-of-type(4) p.emittingR {
  visibility: visible;
}

ol li:nth-of-type(4) p.emittingR:hover {
  transition: 2s;
  transform: scale(1.2);
  background-color: var(--puurzwart);
  z-index: 1;
}

ol li:nth-of-type(4) img {
  z-index: -1;
}

/* Rechter buttons op saber */
ol li:nth-of-type(4) button:first-of-type {
  position: relative;
  background: var(--buttonkleur);
  height: 2em;
  width: 2em;
  bottom: 10em;
  left: 7.2em;
  border-radius: 2em;
  border: none;
}

/* Linker button op saber */
ol li:nth-of-type(4) button:nth-of-type(2) {
  position: relative;
  background: var(--buttonkleur);
  height: 2em;
  width: 2em;
  bottom: 12em;
  left: -6.2em;
  border-radius: 2em;
  border: none;
}

/* Linker saber gedeelte */
ol li:nth-of-type(4) output:first-of-type {
  position: relative;
  background: var(--redsaberblade);
  height: 1.5em;
  width: 34em;
  bottom: 11.3em;
  left: -26em;
  z-index: -1;
  border-radius: 1em;
  visibility: hidden;
  transform-origin: center right;
}

/* Rechter saber gedeelte */
ol li:nth-of-type(4) output:last-of-type {
  position: relative;
  background: var(--redsaberblade);
  height: 1.5em;
  width: 34em;
  bottom: 13.1em;
  left: 26em;
  z-index: -1;
  border-radius: 1em;
  visibility: hidden;
  transform-origin: center left;
}

/* Rechter saber gedeelte komt eruit */
ol li:nth-of-type(4) output:last-of-type.emittingR {
  visibility: visible;
  animation: bladesdarkside 0.05s infinite, growblades 0.2s;
}

/* Linker saber gedeelte komt eruit */
ol li:nth-of-type(4) output:first-of-type.emittingL {
  visibility: visible;
  animation: bladesdarkside 0.05s infinite, growblades 0.2s;
}

@keyframes bladesdarkside {
  0% {box-shadow: none;}
  50% {box-shadow: 12px 0px 10px 20px #c50404;}
  100% {box-shadow: none;}
}

/********************/
/* Millenium Falcon */
/********************/

/* button van de Falcon */
ol li:nth-of-type(5) button {
  background: none;
}

/* Afbeelding van de Falcon */
ol li:nth-of-type(5) img {
  animation-timing-function: linear;
  transform: translateX(-65em) rotate(-90deg);
  background-color: none;
  background: none;
}

ol li:nth-of-type(5) img.firing {
  animation-name: firingdeathstar, lightspeedflash;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(0.56, 0.01, 0.94, 0.01);
  /* animation-fill-mode: forwards; */
}
@keyframes firingdeathstar {
  0%    {transform: translateX(-65em) rotate(-90deg);}
  100%  {transform: translateX(70em) rotate(-100deg);}
}

@keyframes lightspeedflash {
  0% {filter: drop-shadow(none);}
  93% {filter: drop-shadow(none);}
  94% {filter: drop-shadow(0em -2em 1em rgb(29, 175, 243));}
  95% {filter: drop-shadow(none);}
  100% {filter: drop-shadow(none);}
}

/*****************************/
/* Laatste saber: Kylo Ren */
/*****************************/

ol li:nth-of-type(6) p {
  position: relative;
  bottom: 5em;
  color: var(--puurwit);
  visibility: hidden;
}

ol li:nth-of-type(6) p.activate {
  visibility: visible;
}

ol li:nth-of-type(6) p.activate:hover {
  transition: 2s;
  transform: scale(1.2);
  background-color: var(--puurzwart);
  z-index: 1;
}

/* Afbeelding van de lightsaber aanpassen */
ol li:nth-of-type(6) header {
  transform: scale(1.5);
  z-index: 1;
}

/* Knop op de lightsaber */
ol li:nth-of-type(6) button {
  background-color: var(--buttonkleur);

  position: relative;
  height: 1.5em;
  width: 1.5em;
  bottom: 4.8em;
  left: 5em;

  border-radius: 1em;
  border: none;
  z-index: 1;
}

/* Lange saber gedeelte */
ol li:nth-of-type(6) output:first-of-type {
  background: var(--redsaberblade);

  left: 26em;
  width: 40em;
  height: 1.5em;
  bottom: 5.2em;
  position: relative;

  border: none;
  border-radius: 0em 1em 1em 0em;

  visibility: hidden;
  transform-origin: center left;
}

/* Korte saber gedeelte onder */
ol li:nth-of-type(6) output:nth-of-type(2) {
  background: var(--redsaberblade);

  position: relative;
  bottom: 3em;
  left: 14.55em;
  width: 10em;
  height: 1.5em;
  transform: rotate(90deg) scaleX(0) scaleY(0);

  border: none;
  border-radius: 0em 1em 1em 0em;
  transform-origin: left center;
  transition-delay: 1s;
  transition: 0.1s;
}

/* Korte saber gedeelte boven */
ol li:nth-of-type(6) output:nth-of-type(3) {
  background: var(--redsaberblade);
  position: relative;
  top: -12em;
  left: 14.55em;
  width: 10em;
  height: 1.5em;
  transform: rotate(-90deg) scaleX(0) scaleY(0);
  border: none;
  border-radius: 0em 1em 1em 0em;
  transform-origin: left center;
  transition-delay: 1s;
  transition: 0.1s;
}

ol li:nth-of-type(6) output:first-of-type.activate {
  visibility: visible;
  animation: bladesdarkside 0.05s infinite, growblades 0.2s;
}

/* onder */
ol li:nth-of-type(6) output:nth-of-type(2).activate {
  animation: bladesdarkside 0.05s infinite;
  transform: rotate(90deg) scaleX(1) scaleY(1);
}

/* boven */
ol li:nth-of-type(6) output:nth-of-type(3).activate {
  animation: bladesdarkside 0.05s infinite;
  transform: rotate(-90deg) scaleX(1) scaleY(1);
}

@keyframes kylorenrotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(90deg);}
}

/************************/
/* Animatie hello there */
/************************/

ol li:nth-of-type(7) {
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
  margin: 5em;
}

ol li:nth-of-type(7) article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* HELLO THERE button */
ol li:nth-of-type(7) button {
  position: relative;
  left: 0em;
  bottom: -15em;
  z-index: 1;
  font-family: aurebesh;
  border: 0.25em solid var(--buttonkleur);
}

/* Grievous IMG */
ol li:nth-of-type(7) article img:first-of-type {
  position: relative;
  transform: scale(1);
  width: 25em;
  bottom: 0em;
  right: 90em;
  display: none;
}

/* Kenobi IMG */
ol li:nth-of-type(7) article img:last-of-type {
  position: relative;
  bottom: 0em;
  left: 55em;
  transform: scale(1);
  display: none;
}

/* Afbeelding van Grievous verschijnt met een delay */
ol li:nth-of-type(7) article img:first-of-type.hello {
  display: block;
  animation-name: grievous;
  animation-duration: 2s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

/* Afbeelding van Kenobi verschijnt met een delay */
ol li:nth-of-type(7) article img:last-of-type.hello {
  display: block;
  animation-name: kenobi;
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

@keyframes grievous {
  0%   {transform: translateX(0em);}
  100% {transform: translateX(75em);}
}

@keyframes kenobi {
  0%    {transform: translateX(0em);}
  100%  {transform: translateX(-50em);}
}


/*******************/
/* LEGO lightsaber */
/*******************/

ol li:last-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Lego hilt */
ol li:last-of-type img {
  position: absolute;
  transform: scale(0.5);
  z-index: 1;
}

/* Lego blade */
ol li:last-of-type strong {
  position: relative;
  background: var(--bluesaberblade);
  height: 4em;
  width: 40em;
  left: 33em;
  border-radius: 0em 0.5em 0.5em 0em;
  visibility: hidden;
  transform-origin: left;
}

ol li:last-of-type button {
  position: relative;
  background: var(--buttonkleur);
  height: 2em;
  width: 2em;
  left: -17em;
  border: none;
  border-radius: 1em;
  z-index: 1;
}

ol li:last-of-type strong.bouwen {
  visibility: visible;
  animation: bladeslightside 0.05s infinite, growblades 0.2s;
}


@keyframes build {
  0%    {width: 0em;}
  16%   {width: 6.67em;}
  32% 	{width: 13.34em;}
  48%   {width: 20em;}
  64%   {width: 26.7em;}
  80%   {width: 33.3em;}
  100%  {width: 40em;}
}

/* @keyframes build {
  0%    {transform: translateX(0em);}
  16%   {transform: translateX(6.67em);}
  32% 	{transform: translateX(13.34em);}
  48%   {transform: translateX(20em);}
  64%   {transform: translateX(26.7em);}
  80%   {transform: translateX(33.3em);}
  100%  {transform: translateX(40em);}
} */


/***********************/
/* Footer instellingen */
/***********************/
footer section p {
  font-family: aurebesh;
  color: yellow;
}

footer section img {
  position: relative;
  height: 2em;
  width: 3em;
}

/***************************/
/* Media query thanks Jeff */
/***************************/

@media (min-width: 477px) and (max-width: 936px) {
  section:first-of-type > img:first-of-type{
      height:45em;
  }
      section article ul{
      justify-content:center;
  }

  header p {
    justify-content: center;
  }

  main section p {
    justify-content: center;
  }
}

@media (max-width:476px){
      section:first-of-type > img:first-of-type{
      height:75em;
  }
          section article ul{
      justify-content:center;
  }
}